
#home.home-page {
    flex-direction: column;
    background-color: var(--bg);
}

#home.home-page header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 97vh;
    background-image: url('/assets/images/photos/marc-olivier-jodoin-7gQl6Rhxsvo-unsplash.png');
    background-size: cover;
    background-position: center center;
    
}


#home.home-page .page-header .home-title {
    position: absolute;
    bottom: 21vh;

}

#home.home-page .page-header h1 {
    color: var(--title);
    text-shadow: 2px 1px 4px white;
}

.show-desktop {
    display: none;
}

#home.home-page .page-header .gif-scroll {
    display: flex;
    width: 110px;
}

#pratice-area {
scroll-margin-top: -2em;
}   

#home.home-page .pratice-area {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 80px 0px;
    background-color: var(--bg-pratice-area);
    box-shadow: inset 0 0 15px black;
}

#home.home-page .section-title {
    display: flex;
    flex-direction: column;
}

#home.home-page .section-title-hide {
    display: none;
}

#home.home-page .section-title p {
    font-size: 1em;
    margin: 10px;
    padding-left: 10px;
}

#home.home-page .pratice-area .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#home.home-page .pratice-area .services .service {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 130px;
    margin: 10px;
    border-radius: 3px;
    background-color: var(--bg-service);
    box-shadow: 2px 2px 5px 0px var(--shadow-service);
    transition: all 0.5s ease-in-out;
}

#home.home-page .pratice-area .services .service:hover {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

#home.home-page .pratice-area .services .service a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;

}

#home.home-page .pratice-area .services .service img {
    width: 100%;
    border-radius: 3px 3px 0 0;
    filter: brightness(75%);
}
#home.home-page .pratice-area .services .service .service-title {
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 1;
}

#home.home-page .pratice-area .services .service p {
    align-self: center;
    margin: 0;
    font-size: 1.2em;
    color: var(--service-title);
}



/* Seção Nossa Equipe */

#home.home-page .team {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 80px 0px;
    background-color: var(--bg-team);
}

#home.home-page .team .lawyers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#home.home-page .team .lawyers .lawyer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 40px 0;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px var(--shadow-service);
}

#home.home-page .team .lawyers .lawyer .team-decoration {
    position: absolute;
    border: 4px solid var(--team-decoration);
    width: 100%;
    height: 100%;
    left: 10px;
    bottom: 8px;
}

#home.home-page .team .lawyers .lawyer a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;

}

#home.home-page .team .lawyers .lawyer figure {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    z-index: 2;
}

#home.home-page .team .lawyers .lawyer figure figcaption {
    position: absolute;
    bottom: -20px;
    left: 10px;
    background: var(--bg-team-figcaption);
    padding: 5px 15px;
    border-radius: 3px;
    text-align-last: center;
}

#home.home-page .team .lawyers .lawyer figure figcaption h3 {
    align-self: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: var(--service-title);
}

#home.home-page .team .lawyers .lawyer img {
    width: 100%;
    border-radius: 3px;
    border-radius: 3px 3px 0 0;
}

#home.home-page .team .lawyers .lawyer .lawyer-title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: var(--bg-team-description);
    z-index: 1;
    border-radius: 0 0 3px 3px;
}

#home.home-page .team .lawyers .lawyer .lawyer-title ul {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 35px 10px 5px 30px;
    margin: 0;
}

#home.home-page .team .lawyers .lawyer .lawyer-title ul li {
    display: list-item;
    line-height: 1.5em;
}

#home.home-page .team .lawyers .lawyer .lawyer-title .team-social-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

#home.home-page .team .lawyers .lawyer .lawyer-title .team-social-links img {
    width: 40px;
    margin: 10px 5px;
}

#home.home-page .team .lawyers .lawyer .lawyer-title .team-social-links img:hover,
#home.home-page .team .lawyers .lawyer .lawyer-title .team-social-links img:active {
    filter: invert()
}

/* Realizations */

#home.home-page .realizations {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 80px 0px;
    background-image: url('/assets/images/logo/Advogarcias.svg'), linear-gradient(var(--bg-realizations), var(--gradient));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: overlay;
}

#home.home-page .realizations .all-realizations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#home.home-page .realizations .all-realizations .realization {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    margin: 10px;
    border-radius: 3px;
}

#home.home-page .realizations .all-realizations .realization img {
    width: 75%;
}

#home.home-page .realizations .all-realizations .realization .realization-title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

#home.home-page .realizations .all-realizations .realization .realization-title p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: var(--color-title);
}

#home.home-page .realizations .all-realizations .realization .realization-title h3 {
    color: var(--color-subtitle);
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

/* Testimonials */

#home.home-page .testimonials {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 80px 0px;
    min-height: 650px;
    background-color: var(--bg-testimonials);
}

#home.home-page .testimonials .image-testimonials {
    display: none;
}

#home.home-page .testimonials .main-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home.home-page .testimonials .tabs {
    position: relative;
    display: flex;
    width: 80%;
    align-items: center;
    padding: 0;
    justify-content: space-evenly;
}

#home.home-page .testimonials .tab {
    display: flex;
    scroll-margin-top: 12em;
}

#home.home-page .testimonials .tab>a {
    display: flex;
}

#home.home-page .testimonials .tab a {
    opacity: 50%;
}


#home.home-page .testimonials .image1:hover,
#home.home-page .testimonials .image2:hover,
#home.home-page .testimonials .image3:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1) rotate(2deg);
    
}

#home.home-page .testimonials .content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 100px;
    padding: 10px;
    background-color: white;
    width: 100%;
    filter: opacity(0%);
    transition: all .3s ease-in-out;
}


#home.home-page .testimonials li.show .content {
    display: flex;
    left: 0;
    filter: opacity(100%);
    transition: all 1s ease-in-out;
    transition-delay: .3s;
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 8px;
}

#home.home-page .testimonials .tab>a>div {
    background-position: center center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#home.home-page .testimonials li.show a {
    opacity: 100%;
}

#home.home-page .testimonials li.show a > div {
    box-shadow: 0 0 13px black;
}

#home.home-page .testimonials .image1 {
    background-image: url("/assets/images/photos/cosmin-serban-6RP0cM4-xbk-unsplash.png");
    transition: all .5s ease-in-out;
}

#home.home-page .testimonials .image2 {
    background-image: url("/assets/images/photos/courtney-cook-TSZo17r3m0s-unsplash.png");
    transition: all .5s ease-in-out;
}

#home.home-page .testimonials .image3 {
    background-image: url("/assets/images/photos/gregory-hayes-2guarBycJJQ-unsplash.png");
    transition: all .5s ease-in-out;
}

#home.home-page .testimonials .testimonial-container {
    position: relative;
    padding: 15px;
}

#home.home-page .testimonials p {
    display: inline;
    margin: 0;
    font-size: 1.3em;
}

#home.home-page .testimonials .qhote {
    width: 17px;
    margin-right: 3px;
    margin-left: 3px;
}

#home.home-page .testimonials .testimonial-name {
    font-weight: bold;
}

@media (max-height: 475px) {
    #home.home-page .page-header .gif-scroll {
        width: 90px;
    }
}


@media (max-height: 475px) and (min-width: 768px){

    #home.home-page .page-header .home-title {
        bottom: 5vh;
    }

    #home.home-page .page-header .gif-scroll {
        display: none;
    }

}


@media (min-width: 576px) {

    #home.home-page .page-header h1 {
        font-size: 2.5em;
    }

    #home.home-page .pratice-area .services .service {
        width: 230px;
        height: 200px;
    }


    #home.home-page .pratice-area .services .service p {
        font-size: 1.4em;
    }

    #home.home-page .team .lawyers .lawyer {
        width: 55%;
    }

    #home.home-page .team .lawyers .lawyer figure figcaption h3 {
        font-size: 1.8em;
    }

    #home.home-page .team .lawyers .lawyer .lawyer-title ul li {
        font-size: 1.2em;
    }

    #home.home-page .team .lawyers .lawyer .lawyer-title .team-social-links img {
        width: 50px;
        margin: 10px 10px;
    }

    #home.home-page .testimonials .tab>a>div {
        width: 100px;
        height: 100px;
    }

    #home.home-page .testimonials .content {
        top: 120px;
    }

    #home.home-page .testimonials .main-testimonials {
        align-self: center;
        width: 90%;
        max-width: 670px;
    }

    #home.home-page .testimonials p {
        font-size: 1.6em;
    }

    #home.home-page .testimonials {
        min-height: 700px;
    }

}

@media (min-width: 768px) {

    #home.home-page .page-header h1 {
        font-size: 4em;
        margin: 0;
    }

    .show-desktop {
        display: flex;
    }

    
    #home.home-page .page-header .home-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 530px;
    }

    #home.home-page .page-header p {
        margin: 0;
        font-size: 2.7em;
        color: var(--p-home);
        text-shadow: 1px 0px 7px black;
        
        text-align: center;
    }

    #home.home-page .team .lawyers {
        align-items: flex-start;
    }

    #home.home-page .pratice-area .services {
        width: 768px;
        margin: auto;
    }

    #home.home-page .team .lawyers .lawyer {
        width: 25%;
        margin: 40px 20px;
    }

    #home.home-page .team .lawyers .lawyer figure figcaption h3 {
        font-size: 1.2em;
    }

    #home.home-page .team .lawyers .lawyer .lawyer-title ul li {
        font-size: 1em;
    }

    #home.home-page .team .lawyers .lawyer .lawyer-title .team-social-links img {
        width: 35px;
        margin: 10px 5px;
    }

    #home.home-page .team .lawyers .lawyer figure img {
        filter: grayscale(1);
        transition: all .5s ease-in-out;
    }
    
    #home.home-page .team .lawyers .lawyer figure img:hover {
        filter: none;
        transition: all .5s ease-in-out;
    }

    #home.home-page .realizations {
        background-size: contain;
        background-position: right;
    }

    #home.home-page .realizations .all-realizations {
        justify-content: flex-start;
        padding-left: 8vw;
    }

    
}

@media (min-width: 992px) {

    #home.home-page header {
        background-image: url('/assets/images/photos/marc-olivier-jodoin-7gQl6Rhxsvo-unsplash@2x.png');
    }


    #home.home-page .pratice-area .services {
        width: 945px;
        margin: 0;
    }

    #home.home-page .testimonials {
        position: relative;
    }
    
    #home.home-page .testimonials .main-testimonials {
        align-self: flex-end;
    }

    #home.home-page .testimonials .image-testimonials {
        display: flex;
        width: 542px;
        position: absolute;
        left: -84px;
        bottom: 0px;
    }

}

@media (min-width: 1200px) {
    
    #home.home-page .testimonials .image-testimonials {
        left: 6vw;
    }

    #home.home-page .testimonials .main-testimonials {
        margin-right: 5vw;
    }

    #home.home-page .realizations .all-realizations {
        justify-content: center;
        padding-left: initial;
    }

}