
#services.page {
    flex-direction: column;
    background-color: var(--bg);
}

#services.page header {
    height: 170px;
    background-image: url('/assets/images/photos/floriane-vita-FyD3OWBuXnY-unsplash.png');
    filter: brightness(0.5);
    box-shadow: 0 0 8px 3px black;
}

#services.page .page-header .page-title {
    position: relative;
    bottom: initial;

}


#civel,
#trabalhista,
#empresarial,
#tributario,
#consumidor,
#familiar {
    scroll-margin-top: 2em;
} 


#services.page .section-title {
    display: flex;
    flex-direction: column;
}

#services.page .section-title-hide {
    display: none;
}

#services.page .section-title p {
    font-size: 1em;
    margin: 10px;
    padding-left: 10px;
}


/* Seção Nossas Áreas de Atuação*/



#services.page .pratice-areas {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 80px 0px;
    background-color: var(--bg-team);
}

#services.page .pratice-areas .cards-border{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#services.page .pratice-areas .cards-border .card-border {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 40px 0;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px var(--shadow-service);
}

#services.page .pratice-areas .cards-border .card-border .border {
    position: absolute;
    border: 4px solid var(--team-decoration);
    width: 100%;
    height: 100%;
    left: 10px;
    bottom: 8px;
}

#services.page .pratice-areas .cards-border .card-border a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;

}

#services.page .pratice-areas .cards-border .card-border figure {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    z-index: 2;
}

#services.page .pratice-areas .cards-border .card-border figure figcaption {
    position: absolute;
    bottom: -20px;
    left: 10px;
    background: var(--bg-team-figcaption);
    padding: 5px 45px;
    border-radius: 3px;
    text-align-last: center;
}

#services.page .pratice-areas .cards-border .card-border figure figcaption h3 {
    align-self: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: var(--service-title);
}

#services.page .pratice-areas .cards-border .card-border img {
    width: 100%;
    border-radius: 3px;
    border-radius: 3px 3px 0 0;
}

#services.page .pratice-areas .cards-border .card-border  .card-border-title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: var(--bg-team-description);
    z-index: 1;
    border-radius: 0 0 3px 3px;
}

#services.page .pratice-areas .cards-border .card-border  .card-border-title ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    padding: 35px 10px 5px 40px;
    margin: 0;
}

#services.page .pratice-areas .cards-border .card-border  .card-border-title ul li {
    display: list-item;
    line-height: 1.5em;
    padding: 10px;
    padding-left: 0;
}

#services.page .pratice-areas .cards-border .card-border  .card-border-title .card-social-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#services.page .pratice-areas .cards-border .card-border  .card-border-title .card-social-links a {
    color: var(--card-border-link);
    background: var(--bg-team-figcaption);
    padding: 5px 45px;
    border-radius: 3px;
    margin-top: 20px;
}

#services.page .pratice-areas .cards-border .card-border  .card-border-title .card-social-links a:hover,
#services.page .pratice-areas .cards-border .card-border  .card-border-title .card-social-links a:active {
    filter: drop-shadow(2px 4px 6px black);
    background: var(--card-border-link-hover);
}


@media (min-width: 576px) {


    #services.page .pratice-areas .cards-border .card-border {
        width: 70%;
    }

    #services.page .pratice-areas .cards-border .card-border figure figcaption h3 {
        font-size: 1.8em;
    }

    #services.page .pratice-areas .cards-border .card-border  .card-border-title ul li {
        font-size: 1.2em;
    }

    #services.page .pratice-areas .cards-border .card-border  .card-border-title .card-social-links img {
        width: 50px;
        margin: 10px 10px;
    }

}

@media (min-width: 768px) {

    #services.page header {
        background-image: url('/assets/images/photos/floriane-vita-FyD3OWBuXnY-unsplash@2x.png');
    }

    
    #services.page .pratice-areas .cards-border{
        align-items: flex-start;
    }


    #services.page .pratice-areas .cards-border .card-border {
        width: 44%;
        margin: 40px 20px;
    }

    #services.page .pratice-areas .cards-border .card-border figure figcaption h3 {
        font-size: 1.2em;
    }

    #services.page .pratice-areas .cards-border .card-border  .card-border-title ul li {
        font-size: 1em;
    }

    #services.page .pratice-areas .cards-border .card-border  .card-border-title .card-social-links img {
        width: 35px;
        margin: 10px 5px;
    }

    #services.page .pratice-areas .cards-border .card-border figure img {
        filter: none;
        transition: all .5s ease-in-out;
    }
    
    #services.page .pratice-areas .cards-border .card-border figure img:hover {
        filter: grayscale(1);
        transition: all .5s ease-in-out;
    }

}

